/* --------------------------------------------------
 * Admin Common
 * ------------------------------------------------*/

// --------------------------------------------------
// clearfix
// --------------------------------------------------
.clearfix:after {
	clear: both;
	content: "";
	display: block;
}

// --------------------------------------------------
// text-note
// --------------------------------------------------
.text-note {
	color: #999;
}
